<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Demo shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="icon" type="image/png" href="favicon.ico">
</head>

<body class="main-body">
    <div class="login_wrapper">
            <div id="login_button_container"></div>
    </div>
    <footer class="footer">
        <div class="footer_copy">&copy; 2020 Demo Shop</div>
    </footer>
</body>
</html>